
.inputStyle {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #ECEFF1;
  }
  
  .buttonStyle {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 95%;
  }
  
  .errorStyle {
    color: red;
    text-align: center;
  }
  
  .mt {
    width: 2rem; 
    height: 1.25rem; 
    margin-right: 0.5rem; 
  }
  
  .microsoft {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    width: 95%;
    margin-top: 20px;
    border: 1px solid #A2A7A9;
    color: #263238;
  }
  
  .containerlo {
    width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-wrapperlo {
    text-align: center;
    width: 350px;
  }
  
  .company-logolo {
    width: 148px;
    height: 72px;
  }
  

  .rfp-title {
    color: black;
    font-weight: 500;
    font-size: 32px;
  }
  
  .rfp-subtitle {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .inputStyle::placeholder {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: gray;
}

  .username-label {
    display: block;
  }

  .toggle-password-btn {
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 35px;
    left: 340px;
  }
  
  .toggle-password-icon {
    height: 20px;
    width: 20px;
  }
  
  .or-heading {
    margin-left: 180px;
    font-family: 'Outfit', sans-serif;
  }
  